*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html,#root{
  height: 100%;
  width: 100%;
}

section{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
section form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 30px;
}
section form input{
  padding: 10px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;

}
section form button{
  padding: 8px;    
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;  
}
section form button:hover{
  background-color: #0056b3;
} 

section h1{
  margin-bottom: 20px;
  text-align: center;
}

#postCard{
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin-top: 20px;
}

#postCard img{
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}
 #feed{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
 }

#feed h1{
  text-align: center;
}

.btns{
  display: flex;
  gap: 10px;
}

.btns .dlt{
  padding: 8px;    
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;  
  border-radius: 4px;
}
.btns .edit{
  padding: 8px;    
  font-size: 16px;
  background-color: #ffc107;
  color: white;
  border: none;
  cursor: pointer;  
  border-radius: 4px;
}

 